.cart_8{
    background: url('../img/01.png') no-repeat center;
    display: flex;
    height: 882px;
}
.cart_9{
    background: url('../img/02.png') no-repeat center;
    display: flex;
    height: 882px;
}