.FAQ{
    background: url('../img/Группа 1.png') no-repeat;
    width: 1604px;
    height: 2072px;
    margin: 0 auto;
}

.FAQ__question{
    color: white;
    text-align: left;
    margin-left: 1rem;
    padding-top: 2rem;
    padding-right: 2rem;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}
.FAQ__question__main{
    max-height: 0;
    overflow: hidden;
    transition: 0.4s;
    margin-bottom: 2rem;
}
.FAQ__button:checked~.FAQ__question__main {
    max-height: 300px;
}
.FAQ__label{
    margin-left: 5%;
    margin-bottom: 1rem;
    width: 100%;
}
.FAQ__button{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.FAQ__button+label{
    margin-right: 1rem;
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-size: 24px;
}
.FAQ__button+label::after {
    position: absolute;
    left: 75%;
    content: '';
    background-image: url("../img/Слой 76 копия.png");
    width: 57px;
    height: 26px;
}
.FAQ__button:checked+label::after {
    background-image: url("../img/Слой 76 копия 3.png");
    width: 57px;
    height: 26px;
}