.cart_4{
    background: url('../img/01.png') no-repeat center;
    display: flex;
    height: 882px;
}
.cart_5{
    background: url('../img/02.png') no-repeat center;
    display: flex;
    height: 882px;
}
.cart_6{
    background: url('../img/03.png') no-repeat center;
    display: flex;
    height: 882px;
}
.cart_7{
    background: url('../img/04.png') no-repeat center;
    display: flex;
    height: 882px;
}