<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'mainPage/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'mythic/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'FAQ/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'nathria/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'torghast/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'leveling/css/style.css' %}">
    <title>Title</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="http://127.0.0.1:8000/nathria"><button>NATHRIA</button></a</li>
            <li><a href="http://127.0.0.1:8000/mythic"><button>MYTHIC</button></a></li>
            <li><a href="http://127.0.0.1:8000/torghast"><button>TORGHAST</button></a></li>
            <li><a href="http://127.0.0.1:8000/leveling"><button>LEVELING</button></a><</li>
            <li><a href="http://127.0.0.1:8000/FAQ"><button>FAQ</button></a></li>
        </ul>
    </header>

        {% block content %}
        {% endblock %}


</body>
</html>