{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="FAQ">
        <div class="FAQ__question">
                <input id="FAQ__button_1" class="FAQ__button" type="checkbox">
                <label for="FAQ__button_1" class="FAQ__label">Как сделать заказ?</label>
            <div class="FAQ__question__main">
                1) <br>
                &#8287;&#8287;&#8287;&#8287;1. Выбрать интересующую вас услугу, добавить дополнительные опции (необязательно)<br>

                &#8287;&#8287;&#8287;&#8287;2. Нажать “Buy Now”<br>

                &#8287;&#8287;&#8287;&#8287;3. Указать ваш корректный дискорд (например: Name#1234) или емейл <br>

                &#8287;&#8287;&#8287;&#8287;4. Ожидать ответа менеджера для подтверждения заказа <br>

                &#8287;&#8287;&#8287;&#8287;5. После подтверждения заказа менеджер создаст ссылку на оплату (через платежную систему PayPal) <br>
                2) <br>
                &#8287;&#8287;&#8287;&#8287;1. Связаться с оператором на сайте для составления заказа <br>

                &#8287;&#8287;&#8287;&#8287;2. После подтверждения заказа менеджер создаст ссылку на оплату (через платежную систему PayPal) <br>
            </div>
        </div>
         <div class="FAQ__question">
                <input id="FAQ__button_2" class="FAQ__button" type="checkbox">
                <label for="FAQ__button_2" class="FAQ__label">Что такое селфплей и шаринг?</label>
            <div class="FAQ__question__main">
                Селфплей - Вы будете сами управлять своим персонажем, без предоставления аккаунта бустеру <br>

                Шаринг - предоставление аккаунта бустеру. От Вас потребуется логин и пароль от учетной записи Бнета.
                С нами это безопасно!<br>

                Наши бустеры используют ВПН и не пользуются чатом. <br>
            </div>
        </div>
         <div class="FAQ__question">
                <input id="FAQ__button_3" class="FAQ__button" type="checkbox">
                <label for="FAQ__button_3" class="FAQ__label">Как работает гарантия?</label>
            <div class="FAQ__question__main">
                Если вы совершили покупку с опцией таймера или лут трейдеров и по какой-то причине команда не выполнила
                условие завершив подземелье (рейд), то вам будет предоставлен бесплатный перезапуск подземелья (рейда),
                пока оплаченная услуга не будет выполнена.<br>
                Для примера: Вы купили мифик 10 в таймер, но команда не успела вовремя. Вы можете выбрать сделать
                бесплатный реран или сделать возврат средств.
            </div>
        </div>
         <div class="FAQ__question">
                <input id="FAQ__button_4" class="FAQ__button" type="checkbox">
                <label for="FAQ__button_4" class="FAQ__label">Как работает возврат средств?</label>
            <div class="FAQ__question__main">
                Если вы разместили заказ, но бустеры еще не приступили к выполнению, мы можем сделать полный возврат
                средств или заменить на другую услугу по той же цене. Если вы хотите выбрать услугу дороже или дешевле,
                мы можем предложить вам доплатить или совершить частичный возврат денежных средств в зависимости от
                вашего выбора.
            </div>
        </div>
         <div class="FAQ__question">
                <input id="FAQ__button_5" class="FAQ__button" type="checkbox">
                <label for="FAQ__button_5" class="FAQ__label">WHAT IF I DON’T HAVE DISCORD OR DON’T WANT TO TALK?</label>
            <div class="FAQ__question__main">
                All the communication in Discord will be kept in a chat form (text messages). There’s no voice
                communication requirement. Discord are very easy to install and register in. It’s faster to
                negotiate order details in real time using Discord chat rather than using an email.
            </div>
        </div>
    </div>
{% endblock %}