{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="products">
         <a href="http://127.0.0.1:8000/mythic"><img src="{% static 'mainPage/img/MYTHIC 10+.png' %}" alt="" border="0"></a>
        <a href="http://127.0.0.1:8000/nathria"><img src="{% static 'mainPage/img/HATHRIA NORMAL.png' %}" alt="" border="0"></a><br>
        <a href="http://127.0.0.1:8000/nathria"><img src="{% static 'mainPage/img/NATHRIA HEROIC_.png' %}" alt="" border="0"></a>
        <a href="http://127.0.0.1:8000/torghast"><img src="{% static 'mainPage/img/TWISTING CORRIDORS_.png' %}" alt="" border="0"></a>
    </div>

    <h2>Why choose us?</h2>

    <div class="marketing">
        <div class="marketing__cart">
               <img src="{% static 'mainPage/img/Слой 39.png' %}" alt="">
                <p>Guaranteed start<br> in 15-60 minutes</p>
        </div>
        <div class="marketing__cart">
               <img src="{% static 'mainPage/img/Слой 45.png' %}" alt="">
                <p>24/7 support</p>
        </div>
        <div class="marketing__cart">
               <img src="{% static 'mainPage/img/Слой 41.png' %}" alt="">
                <p>Always best prices<br> and offers</p>
        </div>
        <div class="marketing__cart">
               <img src="{% static 'mainPage/img/Слой 40.png' %}" alt="">
                <p>Premium boosters<br> teams</p>
        </div>
    </div>

    <div class="about">
        <h1>Boost your hero.</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br>
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer <br>
            took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,<br>
            but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in <br>
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop <br>
            publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>

    <div class="contact">
        <a href=""><img src="{% static 'mainPage/img/DISCORD_.png' %}" alt="" border="0"></a>
        <a href=""><img src="{% static 'mainPage/img/CHAT_.png' %}" alt="" border="0"></a>
    </div>

    <footer>
        <a href=""><img src="{% static 'mainPage/img/Слой 56.png' %}" alt="" border="0"></a>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br>
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer <br>
            took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,<br>
            but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in <br>
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop <br>
            publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </footer>
{% endblock %}